In [1]:
# DATE : 11-03-2024

#LIST OPERATIONS

a=[24,365,26.44,'guvi']
print(a)

[24, 365, 26.44, 'guvi']

In [2]:
#APPEND - Add Somrthing in the last:
a.append('Puma')
print(a)

a.append([24.8,335,'Raja'])
print(a)

[24, 365, 26.44, 'guvi', 'Puma']
[24, 365, 26.44, 'guvi', 'Puma', [24.8, 335, 'Raja']]

In [3]:
#to add multiple elements in the list using for loop

b=['queen','king',1997,24.68]
for z in b:
    a.append(z)
print(a)

[24, 365, 26.44, 'guvi', 'Puma', [24.8, 335, 'Raja'], 'queen', 'king', 1997, 24.68]

In [4]:
#to add multiple elements in the list : #extend

d=[55,987,26.48,'Text']
d.extend(['queen','king',777])
print(d)

[55, 987, 26.48, 'Text', 'queen', 'king', 777]

In [5]:
#insert: inserting at a certain place using index function in the list :

a.insert(2,555)
print(a)

[24, 365, 555, 26.44, 'guvi', 'Puma', [24.8, 335, 'Raja'], 'queen', 'king', 1997, 24.68]

In [6]:
#to replace a certain element in the list:
a[2]='God'
print(a)

[24, 365, 'God', 26.44, 'guvi', 'Puma', [24.8, 335, 'Raja'], 'queen', 'king', 1997, 24.68]

In [5]:
#to replace an element in the list, which is inside another list:
a=[24,365,'God',26.44,"guvi",'puma',[24.8,335,'Raja']]
a[6][2]='22'
print(a)

[24, 365, 'God', 26.44, 'guvi', 'puma', [24.8, 335, '22']]

In [7]:
#index : to find the index value 

c=[22,57,'God']
c.index('God')

2

In [8]:
#Count : count how many times a same element is repeated in the list:

c.extend([25,25,25])
print(c)

c.count(25)

[22, 57, 'God', 25, 25, 25]

3

In [9]:
#POP : TO temperorily remove an element

d=c.pop(2)
print(c)
print(d)

[22, 57, 25, 25, 25]
God

In [10]:
#delete : del : to permanantly delete an element from the memory.(Not only the list)

del c[1]
print(c)

[22, 25, 25, 25]

In [11]:
#Sort : To sort the list in the ascending order(variable.sort), use reverse=True to sort in descending order

e=[556,789,52.66,27,998.956]
e.sort(reverse=True)
print(e)

[998.956, 789, 556, 52.66, 27]

In [12]:
#only used in list or set, Dict contains numbers.
#max = to find the maximum value
#min - Minimum Value
#sum - To add all the Values

print(max(e))
print(min(e))
print(sum(e))

998.956
27
2423.616

In [ ]:
#Tuple 

#-Heterogeneous
#-Immutable
#-Ordered (by index)

In [13]:
x,y,z=(53,3.7,'King')
print(x)
print(y)
print(z)

53
3.7
King

In [ ]:
#Usage of Brackets :

#[] - Operations of List, Particular Data
#() - Functions / Methods
#{} - Dictionary / Data

In [ ]:
# STRINGS

#Functions of Strings

#variable.upper = Uppercase the String Completely
#v.lower = Lowercase the complete string
#v.Capitalize = Uppercase the 1st Letter of the String.
#v.count = Counts the character in the string.
#v.find = Finds the left most index value of a character in a string
#v.rfind = Finds the right most index value of the character in a string
#v.index = Finds the index value of a character in the string.
#len(variable) = Finds the total characters in a string. Even counts the Space.

In [14]:
#For Example :

s="Happy Morning"
print(s.upper())
print(s.capitalize())
print(s.lower())
print(s.count('a'))
print(s.find('p'))
print(s.rfind('n'))
print(s.index('Mo'))
print(len(s))

HAPPY MORNING
Happy morning
happy morning
1
2
11
6
13

In [12]:
a='5789'
b='27Sky'
c='Idly'
d='     '
print(a.isnumeric()) # Prints true if the string is only numnbers
print(c.isalnum())   # Prints true if the string contains both alphabet & numnbers
print(b.isalpha())   # Prints true if the string contains only alphabet
print(d.isspace())   # Prints true if the string contains only space
print(a.startswith('5'))
print(b.endswith('j'))

True
True
False
True
True
False

In [32]:
a='Succesfull Morning Everyone, Have a Pleasant day'
b='Hi HelloH'
c='Government'
d='12 34 56 78 910'
print(d.split()) #Splits in the space and prints in the list.
print(b.strip('H')) #Removes the element/Space only in the corners.

['12', '34', '56', '78', '910']
i Hello

In [44]:
a=input().split() #Use split function to get list inputs.
print(a)
print("y".join(a))  #Join/combines the string by the character given in the ""

['skydive']
skydive

In [48]:
a=input()
print("\n".join(a)) #\n = New line (Prints in a new line)

m
o
r
n
i
n
g

In [57]:
a=input()
print("\t".join(a)) #\t = tab (Prints in a tab space)

C	o	c	o	n	u	t

In [58]:
print(r"\n God") #r=raw string
print(f"\n God") #f=formatted string.

\n God

 God

In [63]:
a=input()
print(f'Good Morning {a}')

Good Morning Arivu

In [66]:
import datetime
print(datetime.date.today())

2024-03-12

In [68]:
import datetime
print(datetime.datetime.now())

2024-03-12 10:42:29.179452

In [76]:
a=input()
import datetime
print(f'Welcome Back {a}!, The Date & time is',(datetime.datetime.now()))

Welcome Back Mr. Arivalagan!, The Date & time is 2024-03-12 10:52:14.926597

In [80]:
#String formatting.
print('Good morning{a}{b}'.format(a=' Nirmal',b=' Guvi'))

Good morning Nirmal Guvi

In [83]:
#Set - {}
#Removes the 1st duplicate in a set.
#Set is Unordered.

a={85,669,45,257,555,555,669}
print(a)

{257, 85, 669, 555, 45}

In [85]:
#Dictionary - {}
# It is a key : Value Pair {k:v}
# DIctionary is unordered before version 3.8 / 3.10 but now its ordered using hashtable (but index is not accessible)

a={'Name':'Nirmal', 'Age': 33, 'City':'Chennai'}
print(a['Name'])

Nirmal